:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white
}

a {
  color: inherit;
  text-decoration: none;
}

.navBar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding: 20px;
  background-color: rgb(62, 62, 214);
}

.navBar a{
  padding: 10px;
}

.menuTienda{
  display: flex;
  flex-direction: column;
  background-color: rgb(62, 62, 214);
  width: 10em;
  height: 6em;
  padding: 10px;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
}
